.container {
  text-align: center;
  margin-top: 50px;
}

.form {
  margin-top: 90px;
}

input[type="file"] {
  margin: 20px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f0f0f0;
}

input[type="file"]:hover {
  background-color: #e0e0e0;
}

input[type="file"]:focus {
  outline: none;
  background-color: #fff;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.caption-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #e9ecef;
  display: inline-block;
  text-align: left;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #d5eaf3;
}


.preview-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 90px;
}

